/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --banner-footer-background-color: #2f303a;
  --banner-text-color: rgba(255, 255, 255, 0.6);
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.h1 {
  margin: 0;
}

.h2 {
  margin: 0;
}

.h3 {
  margin: 0;
}

.p {
  margin: 0;
}

*, *::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
  color: var(--primary-text-color);
  margin: 0;
}

.container {
  width: 100%;
  min-height: inherit;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

header {
  border-bottom: 1px solid #ECECEC;
  background-color: var(--white-color);
  height: 60px;
}

@media screen and (min-width: 768px) {
  header {
    height: 80px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 480px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 284px;
  background-color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 0px;
  }
}

.header-logoStudio {
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .header-logoStudio {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header-logoStudio {
    font-size: 26px;
    line-height: 1.19;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.logoWeb {
  color: var(--accent-color);
}

.site-nav.list {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav.list {
    color: var(--secondary-text-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.site-nav .list > link {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav .list > link:hover {
    color: var(--accent-color);
  }
  .site-nav .list > link:focus {
    color: var(--accent-color);
  }
}

.link.current {
  display: none;
}

@media screen and (min-width: 768px) {
  .link.current {
    color: var(--accent-color);
  }
  .link.current:after {
    content: "";
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0px;
    top: 31px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    display: flex;
  }
  .link.current:after li:not(:last-child) {
    margin-right: 50px;
  }
}

.auth-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .auth-nav {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    text-decoration: none;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    line-height: 1.14;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .mail-link {
    margin-left: 10px;
  }
  .phone-link {
    margin-left: 10px;
  }
}

.auth-nav-envelope .mail-link:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.auth-nav-envelope .mail-link:focus {
  color: var(--accent-color);
  cursor: pointer;
  fill: var(--accent-color);
  outline: none;
}

@media screen and (min-width: 768px) {
  .auth-nav-envelope .mail-link:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav-envelope .mail-link {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav-smartphone .phone-link:hover {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  .auth-nav-smartphone .phone-link:focus {
    color: var(--accent-color);
    cursor: pointer;
    fill: var(--accent-color);
    outline: none;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav-smartphone .phone-link svg {
    margin-right: 10px;
  }
}

.banner {
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/banner.jpg), url(../images/Bg.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(47, 48, 58, 0.4)), url(../images/banner.jpg), url(../images/Bg.jpg);
}

@media screen and (min-width: 1200px) {
  .banner {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
  }
}

.banner .banner-text {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0 auto 30px;
}

@media screen and (min-width: 1200px) {
  .banner {
    font-size: 44px;
    line-height: 1.36;
  }
}

.banner .banner-button {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  text-decoration: none;
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  margin: 0 auto;
}

.banner .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.specials-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .specials-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.specials-section .specials-section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .specials-section .specials-section-title {
    text-align: left;
  }
}

.specials-section .specials-image {
  width: 100%;
  color: var(--primary-text-color);
}

.specials-section .specials-image::before {
  display: block;
  height: 120px;
  border-radius: 4px;
  background: #F5F4FA;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 468px) {
  .specials-section .specials-image {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .specials-section .specials-image {
    width: 354px;
    margin-bottom: unset;
    margin-top: 60px;
  }
  .specials-section .specials-image:nth-child(2n+1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .specials-section .specials-image {
    width: 270px;
  }
}

.specials-section .icon-antenna::before {
  content: "";
  background-image: url(../images/svg.images/antenna.svg);
}

.specials-section .icon-clock::before {
  content: "";
  background-image: url(../images/svg.images/clock.svg);
}

.specials-section .icon-diagram::before {
  content: "";
  background-image: url(../images/svg.images/diagram.svg);
}

.specials-section .icon-astronaut::before {
  content: "";
  background-image: url(../images/svg.images/astronaut.svg);
}

.specials-section .specials-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.specials-section .specials-box:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .specials-section .specials-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .specials-section .specials-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .specials-section .specials-box li:not(:last-child) {
    margin-right: 30px;
  }
}

.specials-section .specials-box .specials-section-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work-section {
  background-color: var(--white-color);
  padding-bottom: 94px;
  display: none;
}

@media screen and (min-width: 468px) {
  .work-section {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .work-section {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work-section {
    display: block;
  }
}

.work-section .work-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.work-section .team-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.work-section .work-section-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  margin: 0auto;
}

.work-section .desktop {
  position: relative;
  overflow: hidden;
}

.work-section .desktop > img {
  display: block;
  width: 370px;
  height: auto;
}

.work-section .mobile {
  position: relative;
  overflow: hidden;
}

.work-section .mobile > img {
  display: block;
  width: 370px;
  height: auto;
}

.work-section .solution {
  position: relative;
  overflow: hidden;
}

.work-section .solution > img {
  display: block;
  width: 370px;
  height: auto;
}

.work-section .desktop-label {
  position: absolute;
  bottom: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  z-index: 2;
  padding: 28px;
  width: 370px;
  height: 70px;
}

.work-section .mobile-label {
  position: absolute;
  bottom: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  z-index: 2;
  padding: 28px;
  width: 370px;
  height: 70px;
}

.work-section .designer-solution-label {
  position: absolute;
  bottom: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  z-index: 2;
  padding: 28px;
  width: 370px;
  height: 70px;
}

.team-section {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: auto;
  background-color: var(--secondary-background-color);
}

@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 94px;
    padding-bottom: 94px;
    height: 708px;
    margin-bottom: 0px;
  }
}

.team-section .team-section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team-section .team-section-title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 50px;
  }
}

.team-section .team-card {
  display: block;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

.team-section .team-card:last-child {
  margin-right: 0;
}

@media screen and (min-width: 468px) {
  .team-section .team-card {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team-section .team-card {
    width: 354px;
  }
  .team-section .team-card:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-section .team-card {
    width: 270px;
  }
  .team-section .team-card:not(:last-child) {
    margin-right: 30px;
  }
}

.team-section .team-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team-section .team-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.team-section .team-description {
  background-color: var(--white-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.team-section .team-description h3 {
  font-weight: 500;
  color: var(--secondary-text-color);
  padding-bottom: 10px;
  margin-top: 30px;
}

.team-section .team-description p {
  font-weight: 400;
  color: var(--primary-text-color);
}

.team-section .team-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-section .team-social-box {
  height: 44px;
  width: 44px;
  padding: 0px;
  margin-left: 10px;
}

.team-section .team-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: none;
  fill: #AFB1B8;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-section .team-social-links:hover {
  fill: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 50%;
  outline: none;
}

.team-section .team-social-links:focus {
  fill: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 50%;
  outline: none;
}

.team-card > img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 450px;
}

@media screen and (min-width: 768px) {
  .team-card > img {
    width: 354px;
  }
}

.team-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-social {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .team-social {
    margin-bottom: 0px;
  }
}

.team-social .team-social-box {
  height: 44px;
  width: 44px;
  padding: 0px;
  margin-left: 10px;
  margin-bottom: 24px;
}

.team-social .team-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: none;
  fill: #AFB1B8;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social .team-social-links:hover {
  fill: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 50%;
  outline: none;
}

.team-social .team-social-links:focus {
  fill: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 50%;
  outline: none;
}

.clients-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .clients-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
    line-height: 1.67;
    margin-bottom: 50px;
  }
}

.clients-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .clients-company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.clients-example {
  width: 46%;
  display: block;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-example:hover {
  fill: var(--accent-color);
  cursor: pointer;
  background-color: #fff;
  border-color: var(--accent-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-example:focus {
  fill: var(--accent-color);
  cursor: pointer;
  background-color: #fff;
  border-color: var(--accent-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .clients-example {
    height: 90px;
    width: 210px;
  }
  .clients-example:nth-child(odd) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients-example {
    width: 226px;
    margin-right: 30px;
  }
  .clients-example:nth-child(3n+3) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-example {
    margin-bottom: -120 px;
    width: 170px;
  }
  .clients-example:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  fill: #AFB1B8;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-links:hover {
  fill: var(--accent-color);
  cursor: pointer;
  background-color: #fff;
  border: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-links:hover:focus {
  fill: var(--accent-color);
  cursor: pointer;
  background-color: #fff;
  border: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--banner-footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .footer-logo {
    font-size: 26px;
    line-height: 1.19px;
  }
}

.footer-logoStudio {
  color: var(--white-color);
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-email {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .container.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-borders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-borders {
    margin-right: 165px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-borders {
    margin-bottom: 0;
    text-align: left;
    margin-right: 70px;
  }
}

.footer-address {
  color: var(--white-color);
  font-style: normal;
  margin-top: 20px;
}

.footer-email {
  display: block;
  text-decoration: none;
  color: var(--banner-text-color);
  margin-top: 9px;
}

.footer-phone {
  display: block;
  text-decoration: none;
  color: var(--banner-text-color);
  margin-top: 8px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-phone {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-phone {
    margin-top: 9px;
  }
}

.footer-info .join {
  font-weight: 700;
  color: var(--white-color);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.footer-media {
  height: 44px;
  width: 44px;
  padding: 0px;
  margin-right: 10px;
  margin-top: 20px;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links:hover {
  fill: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 50%;
  outline: none;
}

.footer-links:focus {
  fill: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 50%;
  outline: none;
}

.subscription .signup {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  padding-top: 9px;
  padding-bottom: 20px;
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .subscription .signup {
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .subscription .signup {
    margin-bottom: 0;
  }
}

.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .subscription {
    width: 450px;
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 358px;
  }
}

.subscription .footer-button {
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
  margin-left: 12px;
}

.footer-button {
  fill: #FFFFFF;
  margin-left: 10px;
  margin-top: 3px;
  padding-left: 30px;
}

.footer-email_form {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  height: 50px;
  width: 70%;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
  .footer-email_form {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-email_form {
    width: 358px;
    margin-left: 93px;
    margin-bottom: 0;
    margin-top: 20px;
  }
}

.project-section {
  padding-top: 94px;
  border: 1px solid #ECECEC;
}

.projects-btn {
  font-weight: 500;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--secondary-background-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 6px 22px 6px 22px;
  border: none;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background: #F5F4FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F5F4FA;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 8px;
  outline: none;
}

.projects-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.projects-btn:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.projects-section-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--white-color);
}

.projects-section-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

.projects-section-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 60px;
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .projects-section-navigation {
    padding-top: 94px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.ptojects-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-cards {
  display: block;
}

.projects-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -30px;
  padding-bottom: 94px;
  -ms-flex-preferred-size: calc(100%/9 - 30px);
      flex-basis: calc(100%/9 - 30px);
}

.projects-works {
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-works:nth-child(3) {
  margin-right: 0px;
}

.projects-works:nth-child(6) {
  margin-right: 0px;
}

.projects-works:nth-child(9) {
  margin-right: 0px;
}

@media screen and (min-width: 768px) {
  .projects-works {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-works {
    margin-right: 30px;
  }
}

.projects-title {
  padding: 20px;
  background-color: var(--white-color);
}

.projects-works-link {
  display: block;
  outline: none;
  text-decoration: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-works-link:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-works-link:hover .overlay-text {
  -webkit-transform: translatey(-100%);
          transform: translatey(-100%);
}

.projects-works-link:focus {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-works-link:focus .overlay-text {
  -webkit-transform: translatey(-100%);
          transform: translatey(-100%);
}

.projects-overlay {
  position: relative;
  margin-left: auto;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  overflow: hidden;
}

.projects-overlay p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  padding: 63px, 24px;
  text-align: left;
  padding-left: 24px;
}

.overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  -webkit-transform: translatey(0);
          transform: translatey(0);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 3;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  padding: 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 65%;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  width: 528px;
  height: 581px;
  padding: 40px;
}

.form-field {
  margin-bottom: 10px;
}

.visually-hidden.check {
  display: none;
}

.comment {
  resize: none;
}

label {
  display: block;
  padding-top: 10px;
  padding-bottom: 4px;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: #757575;
}

label:first-child {
  padding-top: 0px;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.modal-form_cross-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  top: 8px;
  right: 8px;
  background-color: var(--white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-form_cross-icon:focus {
  content: "";
  outline: none;
  fill: var(--accent-color);
  cursor: pointer;
}

.modal-form_cross-icon:hover {
  content: "";
  outline: none;
  fill: var(--accent-color);
  cursor: pointer;
}

.cross-svg {
  position: absolute;
  left: 7px;
}

.form-signup {
  position: relative;
}

.form-signup .input-info {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.form-signup .input-info:hover {
  border-color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .form-signup {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .form-signup {
    width: 448px;
  }
}

.input-info + .modal-form_icon {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-info:focus {
  fill: var(--accent-color);
}

.modal-form_icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 15px;
}

textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea:focus {
  border: 1px solid var(--accent-color);
}

@media screen and (min-width: 480px) {
  textarea {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  textarea {
    width: 448px;
  }
}

.form-agreement {
  padding-left: 25px;
  position: relative;
  display: block;
}

.form-agreement > a {
  color: var(--accent-color);
}

.form-agreement::before {
  content: "";
  position: absolute;
  left: 0;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 4px;
  display: block;
}

.check:checked + .form-agreement::before {
  content: "";
  background-image: url(../images/svg.images/icon-check.svg);
  border: none;
  background-size: cover;
}

.button-submit {
  display: block;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  border-radius: 4px;
  color: var(--white-color);
  border-color: transparent;
  margin-top: 20px;
  margin-left: 80px;
}

.button-submit:hover {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.button-submit:focus {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .button-submit {
    width: 200px;
  }
}
/*# sourceMappingURL=main.css.map */