/* Цвет основного текста #757575 */
/* вторичный цвет текста #212121 */
/* белый #ffffff */
/* акцент #2196F3 */
/* основной цвет фона #E5E5E5 */
/* вторичный цвет фона #F5F4FA */
/* цвет фона header #ffffff */
/* цвет фона футера и баннера #2F303A */
/* цвет текста футера rgba(255, 255, 255, 0.6);*/

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --banner-footer-background-color: #2f303a;
  --banner-text-color: rgba(255, 255, 255, 0.6);
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

*, *::before,
*::after {
  box-sizing: border-box;
}


body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
  color: var(--primary-text-color);
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}


/*____________ Header_____________ */

header {
  border-bottom: 1px solid #ECECEC;
  background-color: var(--white-color);
}

.header {
  display: flex;
  align-items: center;
  height: inherit;
}

.header-nav {
  display: flex;
  align-items: center;
}


/* ______________LOGO_________________ */

.header-logo,
.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.header-logo {
  background-color: var(--white-color);
}

.logoWeb {
  color: var(--accent-color);
}

.footer-logoStudio {
  color: var(--white-color);
}

.header-logoStudio {
  color: var(--secondary-text-color);
}

/* ____________Website Navigation___________ */

.site-nav a {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
  color: var(--accent-color);
  
}

.site-nav {
  display: flex;
}
.site-nav li:not(:last-child){
  margin-right: 50px;
}

.site-nav .link.current:after{
  content: "";
  position: relative;
  left: 0px;
  top: 31px;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  }


/* ______________Header Email & Phone#_____________ */

.auth-nav a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-left: auto;
  
}

.mail-link,
.phone-link {
  margin-left: 10px;
}

.auth-nav .mail-link{
  margin-right: 30px;
}

.auth-nav-envelope a:hover,
.auth-nav-smartphone a:hover {
  color: var(--accent-color);
  fill: var(--accent-color);

}

.auth-nav-envelope a:focus,
.auth-nav-smartphone a:focus {
  color: var(--accent-color);
  cursor: pointer;
  fill:var(--accent-color);
  outline:none;
  
}

.auth-nav-envelope svg,
.auth-nav-smartphone svg{
  margin-right: 10px;
}

/* ______________Banner Section_____________*/

.banner {
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4),rgba(47, 48, 58, 0.4)), url(../images/banner.jpg), url(../images/Bg.jpg);
}

.banner-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0 auto 30px;
}

.banner-button {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  text-decoration: none;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  border-color: transparent;
  
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}


/*______________Specialties Section___________ */

.specials-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.specials-section,
.work-section {
  background-color: var(--white-color);
}
.specials-section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.specials-text {
  width: 270px;
  color: var(--primary-text-color);
}

.specials-text::before {
  display: block;
  content: "";
  height: 120px;
  border-radius: 4px;
  background: #F5F4FA;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  
}

.icon-antenna::before {
  background-image: url(../images/svg.images/antenna\ 1.svg);
}

.icon-clock::before {
  background-image: url(../images/svg.images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/svg.images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/svg.images/astronaut.svg);
}

.specials-box {
  display: flex;
  align-items: center;
  
}

.specials-box li:not(:last-child) {
  margin-right: 30px;
}

.specials-section-text,
.footer-address,
.footer-email,
.footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ______________What do we do section___________ */

.work-section-title,
.team-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.work-section-images {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  margin: 0auto;
}

.work-section {
  padding-bottom: 94px;
}

.desktop> img,
.mobile> img,
.solution> img {
  display: block;
  width: 370px;
  height: auto;

}
.desktop,
.mobile,
.solution {
  position: relative;
  overflow: hidden;
  
}

.desktop-label,
.mobile-label,
.designer-solution-label {
  position: absolute;
  bottom: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  z-index: 2;
  padding: 28px;
  width:370px;
  height:70px;

}









/* ______________Our Team Section______________ */

.team-section {
  padding-top: 94px;
  max-width: auto;
  height: 708px;
  background-color: var(--secondary-background-color);
  
}

.team-card {
  display: block;
  margin-right: 30px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px; 
} 

.team-card:last-child {
  margin-right: 0;
}

.team-box {
  display: flex;
  align-items: center;
}


.team-description h3{
  font-weight: 500;
  color: var(--secondary-text-color);
  padding-bottom: 10px;
  margin-top: 30px;
}

.team-description p {
  font-weight: 400;
  color: var(--primary-text-color);
}

.team-section-title {
  margin-bottom: 50px;
}

.team-description {
  background-color: var(--white-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  max-width: 100%;
  align-items: center;
  text-align: center;
}


/* _____________Team Social Links__________ */

.team-social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  margin-bottom: 30px;
}
.team-social-box {
  height: 44px;
  width: 44px;
  padding: 0px;
  margin-left: 10px;   
} 

.team-social-links {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border:none;
  fill: #AFB1B8;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



.team-social-links:hover,
.team-social-links:focus {
  fill: var(--white-color); 
  background-color: var(--accent-color);
  border-radius: 50%;
  outline:none;
  
}

/* _____________Clients Section____________ */

.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.clients-company {
  display: flex;
  justify-content: center;
  
}

.clients-example {
  height: 90px;
  width: 170px;
  border-radius: 4px;
  margin-right: 30px;
  border: 1px solid #AFB1B8;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-example:last-child {
  margin-right: 0;
}


.clients-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
  fill:  #AFB1B8;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-links:hover,
.clients-links:focus {
  fill: var(--accent-color);
  cursor: pointer;
  background-color: #fff;
  border:none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}
.clients-example:hover,
.clients-example:focus{
  fill: var(--accent-color);
  cursor: pointer;
  background-color: #fff;
  border-color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


/* _____________Footer section____________*/

footer {
  display: flex;
  background-color: var(--banner-footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.container.footer{
  display: flex;
  justify-content: space-between;
}

.footer-borders .footer-address {
  color: var(--white-color);
  font-style: normal;
  margin-top: 20px;
}

.footer-borders .footer-email, 
.footer-borders .footer-phone {
  display: block;
  text-decoration: none;
  color: var(--banner-text-color);
  margin-top: 9px;
}

.footer-info b {
  font-weight: 700;
  color: var(--white-color);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.footer-info {
  margin-left: 70px;
}

.footer-social{
  display: flex;
  align-items: baseline;
  
}

.footer-media {
  height: 44px;
  width: 44px;
  padding: 0px;
  margin-right: 10px;
  margin-top: 20px;   
}


.footer-links {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-links:hover,
.footer-links:focus {
  fill: var(--white-color); 
  background-color: var(--accent-color);
  border-radius: 50%;
  outline:none;

}

.subscription b{
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  padding-top: 9px;
  padding-bottom: 20px;
  
}
.subscription .footer-button{
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border:none;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
  
}
.footer-button {
  fill: #FFFFFF;
  margin-left: 10px;
  margin-top: 3px;
  padding-left: 30px;
}

.footer-email_form {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  width: 358px;
  height: 50px;
}




/* ______!!!!________Портфолио_____!!!!_____Projects Section________ */

.project-section {
  padding-top: 94px;
  border: 1px solid #ECECEC;
}

.projects-btn {
  font-weight: 500;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--secondary-background-color);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.projects-btn:focus,
.projects-btn:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
  
}

.projects-section-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
.projects-section-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.projects-section-name,
.projects-section-description {
  background-color: var(--white-color);
}

.projects-section-navigation {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  margin-bottom: 50px;
}

.projects-btn {
  padding: 6px 22px 6px 22px;
  border:none;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background: #F5F4FA;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F4FA;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 8px;
  outline:none;
}

/* ______________Icons____________ */

.ptojects-section {
  display: flex;
  flex-wrap: wrap;
}

.projects-cards {
  display:block;
}

.projects-blocks {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  padding-bottom: 94px;
  flex-basis: calc(100%/9 - 30px);
}

.projects-works {
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-works:nth-child(3),
.projects-works:nth-child(6),
.projects-works:nth-child(9)  {
  margin-right: 0px;
}

.projects-title {
  padding: 20px;
  background-color: var(--white-color);
}


.projects-works-link {
  display: block;
  outline:none;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-works-link:hover,
.projects-works-link:focus {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  
}

.projects-overlay {
  position: relative;
  margin-left: auto;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  overflow: hidden;

}

.projects-overlay p{
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  padding: 63px, 24px;
  
  
}

.projects-works-link:hover .overlay-text,
.projects-works-link:focus .overlay-text {
  transform: translatey(-100%);
  
}

.overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  padding:24px;
  
  transform: translatey(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}




/* <!-- ______________МОДАЛЬНОЕ ОКНО______________--> */


.backdrop {
  position:fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);

  opacity:1;
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 3;
}

.backdrop.is-hidden{
  opacity:0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  padding: 40px;
  
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form{
  display: flex;
  flex-direction: column;
  
  bottom: 65%;
  right: 50%;
  
  transform: translate(50%, 50%);
  width: 528px;
  height: 581px;
  padding: 40px;

  }

  .form-field {
  margin-bottom: 10px;
  }

  .comment{
    resize:none;
  }

  label {
    display: block;
    padding-top: 10px;
    padding-bottom: 4px;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    color: #757575;
  }

  .form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color:var(--secondary-text-color);
  margin-bottom: 12px;
  }

  .modal-form_cross-icon{
    position: absolute;
    width: 30px;
    height: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    top: 8px;
    right: 8px;
    
    background-color: var(--white-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}


.modal-form_cross-icon:focus,
.modal-form_cross-icon:hover{
  content: "";
  outline:none;
  fill: var(--accent-color);
  cursor: pointer;
}

.cross-svg {
  position: absolute;
  left: 7px;
}


.form-signup .input-info{
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms  cubic-bezier(0.4,0,0.2,1);
  padding-left: 42px;
  outline: none;
}


.input-info + .modal-form_icon{
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-signup{
  position: relative;
}

.modal-form_icon{
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 15px;

}

.form-signup .input-info:hover {
  border-color: var(--accent-color);
} 

.input-info:focus {
  fill: var(--accent-color);

}

textarea{
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);

}

textarea:focus{
  border: 1px solid var(--accent-color)
}

.form-agreement{
  padding-top: 20px;
  padding-left: 25px;
  position: relative;
  display: block;
}

.form-agreement >a{
  color: var(--accent-color);

}

.form-agreement::before {
  content: "";
  position: absolute;
  left: 0;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 4px;
  display: block;
}

.check:checked + .form-agreement::before {
  content: "";
  fill: var(--accent-color);
  background-image: url(../images/svg.images/tick.svg);

  border-color: var(--accent-color);
  background-color: var(--accent-color);
}


.form-field-img::before {
  content: "";
  position: relative;
  bottom: 23px;
  left: 2px;
}


.button-submit {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 120px;
  background-color: var(--accent-color);
  border-radius: 4px;
  color: var(--white-color);
  border-color: transparent;
  margin-top: 20px;
  
}
  
.button-submit:hover,
.button-submit:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}