.auth-nav {
    display:none;
    
    @media screen and (min-width: 768px){
        color: var(--primary-text-color);
        font-weight: 500;
        font-size: 12px;
        line-height: 1.16;
        text-decoration: none;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
    
        @media screen and (min-width: 1200px) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-left: auto;
            align-items: center;
            font-size: 14px;
            line-height: 1.14;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}
    

@media screen and (min-width: 1200px){
    .mail-link {
        margin-left: 10px;
        
    }
    .phone-link {
        margin-left: 10px;
    }

}

.auth-nav-envelope .mail-link {

    &:hover {
        color: var(--accent-color);
        fill: var(--accent-color);
    }
    &:focus {
        color: var(--accent-color);
        cursor: pointer;
        fill: var(--accent-color);
        outline: none;
    }

    @media screen and (min-width: 768px) {
        &:not(:last-child) {
            margin-bottom: 10px;
            }
    }

    @media screen and (min-width: 1200px){
        margin-right: 10px;
    }
}

.auth-nav-smartphone .phone-link{
    
    @media screen and (min-width: 768px){
    
        &:hover {
        color: var(--accent-color);
        fill: var(--accent-color);
    }
    &:focus {
        color: var(--accent-color);
        cursor: pointer;
        fill: var(--accent-color);
        outline: none;
    }
    }
    @media screen and (min-width: 1200px){
        svg {
        margin-right: 10px;
        } 

        &:hover {
            color: var(--accent-color);
            fill: var(--accent-color);
        }
        &:focus {
            color: var(--accent-color);
            cursor: pointer;
            fill: var(--accent-color);
            outline: none;
    }
}


    