.auth-nav {
    display:none;
    
    @media screen and (min-width: 768px){
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
        }
        @media screen and (min-width: 1200px) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-left: auto;
            align-items: center;
            font-size: 14px;
            line-height: 1.14;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }



.auth-nav-envelope .mail-link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        color: var(--accent-color);
        fill: var(--accent-color);
    }
    &:focus {
        color: var(--accent-color);
        cursor: pointer;
        fill: var(--accent-color);
        outline: none;
    }

    @media screen and (min-width: 1200px){
        margin-right: 10px;
    }
}

    
.auth-nav-envelope {

    @media screen and (min-width: 768px){
        &:not(:last-child) {
            margin-bottom: 10px;
            }
        fill: var(--primary-text-color);
    }
    @media screen and (min-width: 1200px){
        &:not(:last-child) {
            margin-bottom: 0;
            margin-right: 10px;
        fill: var(--primary-text-color);
        }
        &:hover {
            color: var(--accent-color);
            fill: var(--accent-color);
        }
        &:focus {
            color: var(--accent-color);
            cursor: pointer;
            fill: var(--accent-color);
            outline: none;
        }
    }
}

.auth-nav-smartphone .phone-link{
    @media screen and (min-width: 768px){
        text-decoration: none;
        font-family: Roboto;
        color: var(--primary-text-color);;
        fill: var(--primary-text-color);
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
    }
    @media screen and (min-width: 1200px){
        text-decoration: none;
    margin-right: 10px;
    color: var(--primary-text-color);;
    fill: var(--primary-text-color);
    }
    &:hover {
        color: var(--accent-color);
        fill: var(--accent-color);
    }
    &:focus {
        color: var(--accent-color);
        cursor: pointer;
        fill: var(--accent-color);
        outline: none;
    }
}

.auth-nav-envelope .envelope {
    margin-right: 10px;
}

.auth-nav-smartphone .smartphone {
    margin-right: 10px;
}

.auth-nav-smartphone a{
    text-decoration: none;
}