
.banner {
    padding-top: 118px;
    padding-bottom: 118px;
    height: 400px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4),rgba(47, 48, 58, 0.4)), url(../images/banner.jpg), url(../images/Bg.jpg);

    @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;

}


.banner-text {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    margin: 0 auto 30px;
}

    @media screen and (min-width: 1200px){
    font-size: 44px;
    line-height: 1.36;
}

    .banner-button {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--accent-color);
    text-decoration: none;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
}