.burger-menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    background-color: var(--white-color);
    
    @media screen and (min-width: 768px) {
        display: none;
      }
        @media screen and (min-width: 1200px) {
          display:none;
        }
      
        @media screen and (min-width: 1200px) {
          max-width: 1200px;
          margin: 0 auto;
          display: none;
        }
  }
// }

.modal-burger-menu {
  @media screen and (min-width: 768px) {
    display: none;
  }
    @media screen and (min-width: 1200px) {
      display:none;
    }
  
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
      margin: 0 auto;
      display: none;
    }
  }


  .burger-menu.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

.modal-button {

      width: 18px;
      height: 18px;
      border: none;
      background-color: transparent;
      
      display: block;
      margin-left: auto;
      margin-top: 25px;
      margin-right: 21px;

      &:hover {
        fill: var(--accent-color);
        cursor: pointer;
      }

      .croos-svg{
        width: 18px;
        height: 18px;
      }
  }

  .auth_burger-menu {

    padding-left: 40px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
    position: absolute;
    bottom: 150px;
          
        .phone {
          font-size: 34px;
          margin-bottom: 32px;
        }
  
        .phone, .mail:hover {
        color: var(--accent-color);
    }  
  }

  .nav_menu-item a{

    padding-left: 40px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.75;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--secondary-text-color);
        
    margin-top: 8px;
  
        &_item {
          margin-bottom: 32px;
  
          &_item:last-child {
            margin-bottom: 0;
          }
  
          .nav_menu-link:hover {
            color: var(--accent-color);
          }
        }
      
  }
      .social_media {
        display: flex;
        flex-wrap: wrap;
        padding-left: 40px;
        margin-top: 64px;
      }
      
      .social_media-site {
      
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
      
          .social_media-link{
            color: var(--accent-color);
          }
      
          &:not(:first-child) {
            padding-left: 10px;
          }
      
          &:not(:last-child) {
            padding-right: 10px;
            border-right: 1px solid rgba(33, 33, 33, 0.2);;
          }
      }
    
      .burger-bottom{
          bottom: 150px;
          position: absolute;
      }