.clients-section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media screen and (min-width: 1200px){
    padding-top: 94px;
    padding-bottom: 94px;
    }
    }

    
.clients-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 30px;

    @media screen and (min-width: 1200px){
    font-size: 36px;
    line-height: 1.67;
    margin-bottom: 50px;
    }
    }

.clients-company {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
}
}


.clients-example {
    width:46%;
    display: block;
    border-radius: 4px;
    
    border: 1px solid #AFB1B8;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
    fill: var(--accent-color);
    cursor: pointer;
    background-color: #fff;
    border-color: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:focus {
    fill: var(--accent-color);
    cursor: pointer;
    background-color: #fff;
    border-color: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    @media screen and (min-width: 480px) {
        height: 90px;
        width: 210px;
        margin-bottom: 30px;
        //     
        }
        @media screen and (min-width: 768px){
        width: 226px;
        margin-right:30px;
        &:nth-child(3n+3) {
            margin-right: 0px;
            }
        }
        @media screen and (min-width: 1200px){
        margin-bottom: -120 px;
        width: 170px;
        &:not(:last-child) {
            margin-right: 30px;
            }
        }
}





.clients-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    fill: #AFB1B8;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
    fill: var(--accent-color);
    cursor: pointer;
    background-color: #fff;
    border: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    

    &:focus {
    fill: var(--accent-color);
    cursor: pointer;
    background-color: #fff;
    border: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}
}
    