.footer-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
  }

  .footer-logoStudio {
    color: var(--white-color);
  }

  .footer-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  .footer-email {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  .footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  footer {
    display: flex;
    background-color: var(--banner-footer-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .container.footer {
    display: flex;
  }
  .footer-borders {
    .footer-address {
      color: var(--white-color);
      font-style: normal;
      margin-top: 20px;
    }
    .footer-email {
      display: block;
      text-decoration: none;
      color: var(--banner-text-color);
      margin-top: 9px;
    }
    .footer-phone {
      display: block;
      text-decoration: none;
      color: var(--banner-text-color);
      margin-top: 9px;
    }
  }
  .footer-info {
    b {
      font-weight: 700;
      color: var(--white-color);
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
    }
    margin-left: 70px;
  }
  .footer-social {
    display: flex;
    align-items: baseline;
  }
  .footer-media {
    height: 44px;
    width: 44px;
    padding: 0px;
    margin-right: 10px;
    margin-top: 20px;
  }
  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--white-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      fill: var(--white-color);
      background-color: var(--accent-color);
      border-radius: 50%;
      outline: none;
    }
    &:focus {
      fill: var(--white-color);
      background-color: var(--accent-color);
      border-radius: 50%;
      outline: none;
    }
  }

  .subscription b{
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  padding-top: 9px;
  padding-bottom: 20px;
  margin-left: 93px;
}
.subscription .footer-button{
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border:none;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
  margin-left: 12px;
}
.footer-button {
  fill: #FFFFFF;
  margin-left: 10px;
  margin-top: 3px;
  padding-left: 30px;
}

.footer-email_form {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  width: 358px;
  height: 50px;
  margin-left:93px;
}
