footer {
  display: flex;
  background-color: var(--banner-footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    display: flex;
    }

  @media screen and (min-width: 1200px){
    display: flex;
  }
  }


.footer-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    text-decoration: none;

    @media screen and (min-width: 1200px){
    font-size: 26px;
    line-height: 1.19px;
    }
  }



  .footer-logoStudio {
    color: var(--white-color);
  }

  .footer-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

  }


  .footer-email {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }


  .container.footer {

      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    
    @media screen and (min-width: 768px){
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px){
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    text-align: start;
  
  }
}



  .footer-borders {

      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      @media screen and (min-width: 768px) {
        margin-right: 165px;
        margin-bottom: 60px
      }

      @media screen and (min-width: 1200px){
        margin-bottom: 0;
        text-align: left;
        margin-right: 70px;
      }
    }

    
  .footer-address {
      color: var(--white-color);
      font-style: normal;
      margin-top: 20px;
    }
    .footer-email {
      display: block;
      text-decoration: none;
      color: var(--banner-text-color);
      margin-top: 9px;
    }
    .footer-phone {
      display: block;
      text-decoration: none;
      color: var(--banner-text-color);
      margin-top: 8px;
      margin-bottom: 60px;

      @media screen and (min-width: 768px){
        margin-bottom: 0;
      }

      @media screen and (min-width: 1200px){
        margin-top: 9px;
      }
    }
  
  .footer-info .join {

      font-weight: 700;
      color: var(--white-color);
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;

  }

  .footer-social {
    
      display: flex;
      justify-content: center;
      text-align: center;
    }
  
  .footer-media {
    height: 44px;
    width: 44px;
    padding: 0px;
    margin-right: 10px;
    margin-top: 20px;
  }
  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--white-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      fill: var(--white-color);
      background-color: var(--accent-color);
      border-radius: 50%;
      outline: none;
    }
    &:focus {
      fill: var(--white-color);
      background-color: var(--accent-color);
      border-radius: 50%;
      outline: none;
    }
  }

  .subscription .signup{
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  padding-top: 9px;
  padding-bottom: 20px;
  margin-top: 60px;

  @media screen and (min-width: 768px){
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
  }

  @media screen and (min-width: 1200px){
    margin-bottom: 0; 
    text-align: left;
  }
}

.subscription {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      @media screen and (min-width: 768px){
        flex-direction: column;
        
      }

      @media screen and (min-width: 1200px){
        display: flex;
        margin-left: 93px;
      }
}

.subscription .footer-button{
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border:none;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
  margin-left: 12px;
}


.footer-button {
  fill: #FFFFFF;
  margin-left: 10px;
  margin-top: 3px;
  padding-left: 30px;
}

.footer-email_form {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  height: 50px;
  width: 290px;
  margin-bottom: 20px;

  @media screen and (min-width: 480px){
    width: 450px;
  }

  @media screen and (min-width: 1200px){
  width: 358px;
  margin-bottom: 0;
  margin-top: 20px;
}
}

.footer-subscription{
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}