header {
  border-bottom: 1px solid #ECECEC;
  background-color: var(--white-color);
  height: 60px;


@media screen and (min-width: 768px) {
  height: 80px;
}
}

header {
  display: flex;

@media screen and (min-width: 480px) {
  display: flex;
  align-items: center;
  
}

@media screen and (min-width: 768px){
  display: flex;
  margin-left: auto;
  
}
@media screen and (min-width: 1200px)  {
  display: flex;
  margin-left: auto;
  align-items: center;
}
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 284px;
  background-color: var(--white-color);

  @media screen and (min-width: 768px) {
    margin-right: 0px;
  }
}
.header-logoStudio {
  color: var(--secondary-text-color);

@media screen and (min-width: 768px) {
  padding-top: 26px;
  padding-bottom: 26px;
  margin-right: 88px;
}

  @media screen and (min-width: 1200px) {
  font-size: 26px;
  line-height: 1.19;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  }
}

.modal-burger-menu {
  min-width: 40px;
  min-height: 40px;
  border: 0;
  outline: none;
  background-color: transparent;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 8px;
  margin-bottom: 10px;

  &:hover {
    svg {
      fill: var(--accent-color);
    }
  }

  svg {
    width: 24px;
    height: 16px;
    fill: black;
  }
}