.ptojects-section {
    display: flex;
    flex-wrap: wrap;
}
.projects-cards {
    display: block;
}
.projects-blocks {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    padding-bottom: 94px;
    flex-basis: calc(100%/9 - 30px);
}
.projects-works {
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:nth-child(3) {
    margin-right: 0px;
    }
    &:nth-child(6) {
    margin-right: 0px;
    }
    &:nth-child(9) {
    margin-right: 0px;
    }
}
.projects-title {
    padding: 20px;
    background-color: var(--white-color);
}
.projects-works-link {
    display: block;
    outline: none;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
box-sizing: border-box;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
.overlay-text {
        transform: translatey(-100%);
}
    }
    &:focus {
box-sizing: border-box;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
.overlay-text {
        transform: translatey(-100%);
}
    }}.projects-overlay {
    position: relative;
    margin-left: auto;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    overflow: hidden;
    p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--white-color);
    padding: 63px, 24px;
    text-align: left;
    padding-left: 24px;
    }
}
.overlay-text {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    transform: translatey(0);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}