.team-section {
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: auto;
    background-color: var(--secondary-background-color);

    
    @media screen and (min-width: 1200px){
        padding-top: 94px;
        padding-bottom: 94px;
        height: 708px;
        margin-bottom: 0px;
    }


.team-section-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px){
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 50px;
    }
}



.team-card {
    display: block;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;
    &:last-child {
    margin-right: 0;
    
    }
    @media screen and (min-width: 468px){
        width: 450px;
    }

    @media screen and (min-width: 768px){
        width:354px;
        &:nth-child(odd){
            margin-right: 30px;
        }
    }

    @media screen and (min-width: 1200px){
        width:270px;
        &:not(:last-child) {
            margin-right: 30px;
        }


    }
}


.team-box {

    align-items: center;
    width: 100%;
    
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        
        }
    }

@media screen and (min-width: 1200px){
    display: flex;
    align-items: center;
}



.team-description {
    h3 {
    font-weight: 500;
    color: var(--secondary-text-color);
    padding-bottom: 10px;
    margin-top: 30px;
    }
    p {
    font-weight: 400;
    color: var(--primary-text-color);
    }
    background-color: var(--white-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    max-width: 100%;
    align-items: center;
    text-align: center;
}
.team-social {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media screen and (min-width:1200px) {
   
}
.team-social-box {
    height: 44px;
    width: 44px;
    padding: 0px;
    margin-left: 10px;
}
.team-social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: none;
    fill: #AFB1B8;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
    fill: var(--white-color);
    background-color: var(--accent-color);
    border-radius: 50%;
    outline: none;
    }
        &:focus {
            fill: var(--white-color);
            background-color: var(--accent-color);
        border-radius: 50%;
        outline: none;
    }
}
    
    
}