.projects-section {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
        
    @media screen and (min-width: 1200px){
    padding-top: 94px;
    }
}

.projects-cards {
    display: block;
    width:100%;
    height:auto;
}
.projects-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;

    
}
.projects-works {
    
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:nth-child(3) {
    margin-right: 0px;
    }
    &:nth-child(6) {
    margin-right: 0px;
    }
    &:nth-child(9) {
    margin-right: 0px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 30px;
    }
}



.projects-title {
    padding: 20px;
    background-color: var(--white-color);
}
.projects-works-link {
    display: block;
    outline: none;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
box-sizing: border-box;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
.overlay-text {
        transform: translatey(-100%);
}
    }
    &:focus {
box-sizing: border-box;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
.overlay-text {
        transform: translatey(-100%);
}
    }
}
    .projects-overlay {
    position: relative;
    margin-left: auto;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    overflow: hidden;
    p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--white-color);
    padding: 63px, 24px;
    text-align: left;
    padding-left: 24px;
    }
}
.overlay-text {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    transform: translatey(0);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-btn.current,
.projects-btn  {
    margin-right: 8px;
    margin-bottom: 15px;
    &:not(:last-child) {
        margin-bottom: 0;
    }
}
.projects-btn.current{
    background-color: var(--accent-color);
    color: var(--white-color);
}


.projects-overlay {
    @media screen and (min-width: 480px){
    max-width: 100%;
    height: auto;
    display: block;
    width: 70;
    }

    @media screen and (min-width: 768px){
    width: 354px;
    display: list-item;
    }
    
    @media screen and (min-width: 1200px) {
        width: 354px;
    }
}

.projects-section-navigation {
    @media screen and (min-width: 768px) {
        display: flex;
        margin: 0 auto;

    }
}



