.site-nav.list {
    
    display:none;

    @media screen and (min-width: 768px){
    color: var(--secondary-text-color);

    display:flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        color:var(--secondary-text-color);
    }
}


.site-nav .list> link {
    display: none;

    @media screen and (min-width: 768px){
        position:relative;
        text-decoration: none;
        color:var(--secondary-text-color);
        &:hover {
            color: var(--accent-color);
        }
        &:focus {
            color: var(--accent-color);
        }
    }
    }
    
    .link.current {
        display: none;

        @media screen and (min-width: 768px){
            color: var(--accent-color);
            display: flex;
       
            &:after {
            content: "";
            position: absolute;
            top:77px;
            display: flex;
            width: 3.5%;
            height: 4px;
            border-radius: 2px;
            background-color: var(--accent-color);
            
        }
        }
    }

    .site-nav.list>link{
        &:after{
            content: "";
            width: 4.5%;
        }
    }

    .site-nav.list> li {
        text-decoration: none;

    &:not(:last-child) {
            margin-right: 50px;
        }
    }
        


